xdg/emacs/*
xdg/emacs/autosave/*
!xdg/emacs/init.org
!xdg/emacs/snippets
!xdg/emacs/emakit
xdg/emacs/emakit/ryoung-private-config.el

xdg/iterm2/AppSupport

config_private

xdg/homebrew/Brewfile.lock.json

xdg/zsh/*
!xdg/zsh/.zshrc
!xdg/zsh/.zprofile