xdg/emacs/*
xdg/emacs/autosave/*
!xdg/emacs/init.el
!xdg/emacs/early-init.el
!xdg/emacs/snippets

xdg/iterm2/AppSupport

config_private

xdg/homebrew/Brewfile.lock.json
xdg/homebrew/trust.json
xdg/homebrew/trust.json.lock

xdg/zsh/*
!xdg/zsh/.zshrc
!xdg/zsh/.zprofile